{% extends "base.html" %}
{% block title %}Árbitros{% endblock %}


{% block content %}
<div id="header">
<h1> Árbitros</h1>
{% load static %}
<img src="{% static "gestion/arbitros.jpg" %}" alt="My image"/>

<div id="aside">


<div id="article">
{% if arbitros %}
<div id="nav ul li">
{% for arbitro in arbitros %}


<ul>
	<li>
	<p><strong>Nombre:</strong> {{ arbitro.nombre }}</p>
	</li>
		
	<p> <strong>Colegio:</strong>{{ arbitro.colegio }}</p>
	


</ul>
{% endfor %}
{% else %}
<p>No árbitros are available.</p>
{% endif %}

<a href="/gestion/">Volver al índice</a>

<div id="footer">
<p> &copy Andrés Millán Alcaide </p>

{% endblock %}
