{% extends "base.html" %}
{% block title %}Calendario{% endblock %}


{% block content %}
<div id="header">
<h1>Calendario</h1>

<div id="body">
{% load static %}
<img src="{% static "gestion/calendario.jpg" %}" alt="My image"/>

<h2> JORNADA 1  </h2>
	<div id="nav ul li">
	<ul>
		<li> FC Barcelona-Atlético de Madrid</li>
		<li> Real Madrid-Betis Balompié</li>

	</ul>

<h2> JORNADA 2  </h2>
	<div id="nav ul li">
	<ul>
		<li> FC Barcelona-Real Madrid</li>
		<li> Atlético de Madrid-Betis Balompié</li>

	</ul>	

<h2> JORNADA 3  </h2>
	<div id="nav ul li">
	<ul>
		<li> FC Barcelona-Betis Balompié</li>
		<li> Atlético de Madrid-Real Madrid</li>

	</ul>	
	<a href="/gestion/">Volver al índice</a>
<div id="footer">
<p> &copy Andrés Millán Alcaide </p>
{% endblock %}