{% extends "base.html" %}
{% block title %}Clasificación{% endblock %}


{% block content %}
<div id="header">
<h1>Clasificación</h1>

{% load static %}
<img src="{% static "gestion/clasificacion.jpg" %}" alt="My image"/>

<div id="body">
<table align="center">
  <tr>
    <th><strong>Posición</strong></th>
    <th><strong>Equipo</strong></th>
    <th><strong>Pts</strong></th>
    <th><strong>GF</strong></th>
    <th><strong>GC</strong></th>
    <th><strong>DG</strong></th>
  </tr>
  {% for equipo in equipos %}
    <tr>
      {% if forloop.counter == 1 %}
        <td><div id="TOP">{{ forloop.counter }}º</div></td>
      {% endif %}
      {% if forloop.counter >= 2 and forloop.counter <= 4 %}
        <td><div id="UCL">{{ forloop.counter }}º</div></td>
      {% endif %}
      {% if forloop.counter == 5 or forloop.counter == 6 %}
        <td><div id="UEL">{{ forloop.counter }}º</div></td>
      {% endif %}
      {% if forloop.counter >= 7 and forloop.counter <= 17 %}
        <td>{{ forloop.counter }}º</td>
      {% endif %}
      {% if forloop.counter >= 18 and forloop.counter <= 20 %}
        <td><div id="DESC">{{ forloop.counter }}º</div></td>
      {% endif %}
      <td><a href="/gestion/equipos/{{ equipo.id}}"> {{ equipo.nombre }}</a></td>
      <td>{{ equipo.puntos }}</td>
      <td>{{ equipo.goles_favor }}</td>
      <td>{{ equipo.goles_contra }}</td>
      <td>{{ equipo.goles_favor|add:equipo.goles_contra }}</td>
    </tr>
  {% endfor %}
</table>
<a href="/gestion/">Volver al índice</a>


<div id="footer">
<p> &copy Andrés Millán Alcaide </p>
  {% endblock %}