{% extends "base.html" %}
{% block title %}Detalles de los jugadores{% endblock %}
{% block content %}
<div id="header">
<h1>{{ jugador.nombre}}</h1>

<div id="menu">
<ul>

<li><p> Lugar de nacimiento: </p>{{ jugador.lugar_nacimiento }}</li>
<li><p> Equipo: </p>{{ jugador.equipo }}</li>
<li><p> Edad: </p>{{ jugador.edad }}</li>
<li><p> Posición: </p>{{ jugador.posicion }}</li>
<li><p> Historial: </p>{{ jugador.historial }}</li>
</ul>
<a href="/gestion/
jugador/edit/{{ jugador.id }}/">Editar este jugador</a>




<a href="/gestion/
jugador/delete/{{ jugador.id }}/">Borrar este jugador</a>
{% endblock %}