{% extends "base.html" %}
{% block title %}Detalles de los equipos{% endblock %}
{% block content %}
<div id="header">
<h1>{{ equipo.nombre }}</h1>
<ul>

<li><p> Historia: </p>{{ equipo.historia }}</li>
<li><p>Ciudad: </p>{{ equipo.ciudad }}</li>
<li><p> Entrenador: </p>{{ equipo.entrenador }}</li>

</ul>
<a href="/gestion/
equipo/edit/{{ equipo.id }}/">Editar este equipo</a>

<a href="/gestion/
equipo/delete/{{ equipo.id }}/">Borrar este equipo</a>
{% endblock %}