{% extends "base.html" %}
{% block title %}Equipitos{% endblock %}


{% block content %}
<div id="header">
<h1> Lista de equipos almacenados </h1>
<div id="body">
{% if equipos_list %}
<div id="menu">
<ul>
{% for equipo in equipos_list %}
<li><a href="/gestion/equipos/
{{ equipo.id }}/">{{ equipo.nombre }}</a></li>
{% endfor %}
</ul>
{% else %}
<p>No equipos are available.</p>
{% endif %}


<a href="/gestion/">Volver al índice</a>

<div id="footer">
<p> &copy Andrés Millán Alcaide </p>

{% endblock %}
