{% extends "base.html" %}
{% block title %}Estadísticas de jugadores{% endblock %}


{% block content %}
<div id="header">
<h1>Estadísticas de jugadores</h1>

{% load static %}
<img src="{% static "gestion/laliga.jpg" %}" alt="My image"/>
<div id="body">
<h2> Máximos goleadores </h2>
{% for jugador in list_jugadores %}


	<div id="nav ul li">
	<ul>
	<li> {{ jugador.nombre }} : {{ jugador.goles }} </li>

	</ul>

{% endfor %}


<a href="/gestion/">Volver al índice</a>	
	<div id="footer">
<p> &copy Andrés Millán Alcaide </p>
{% endblock %}