<!DOCTYPE html>
<html lang="en">
<head>
  <title>Gestión de LaLiga</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">LaLiga</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/gestion/">Inicio</a></li>
        <li><a href="/gestion/equipos/">Equipos</a></li>
        <li><a href="/gestion/jugadores/">Jugadores</a></li>
        <li><a href="/gestion/clasificacion/">Clasificación</a></li>
        <li><a href="/gestion/resultados/">Resultados</a></li>
        <li><a href="/gestion/calendario/">Calendario</a></li>
        <li><a href="/gestion/arbitros/">Árbitros</a></li>
        <li><a href="/gestion/estadisticas/">Máximos goleadores</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/users/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/users/new"><span class="glyphicon glyphicon-log-in"></span> Registrarse</a></li>
      </ul>
        <ul class="nav navbar-nav navbar-right">
        <li><a href="/users/logout"><span class="glyphicon glyphicon-log-in"></span> Cerrar Sesión</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><a href="/gestion/equipo/new">Nuevo Equipo</a></p>
      <p><a href="/gestion/jugador/new">Nuevo Jugador</a></p>
      <p><a href="/gestion/resultado/new">Nuevo Resultado</a></p>
      <p><a href="/gestion/arbitro/new">Nuevo Árbitro</a></p>

    </div>
    <div class="col-sm-8 text-left"> 
      <h1>Bienvenido</h1>
      <p>Hola, usted se encuentra en la Web donde podrá consultar información acerca de los resultados, calendario, equipos, jugadores y estadísticas 
      de LaLiga. Además se permitirá la contribución al poder añadir jugadores, equipos, resultados para los usuarios registrados.</p>
      <hr>

    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
       {% if user.is_authenticated %}
         <h3>{{user.first_name}} {{user.last_name}} ({{user.username}}) logged</h3>
    {% endif %}
     
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>&copy Andrés Millán Alcaide, 2017</p>
</footer>

</body>
</html>