{% extends "base.html" %}
{% block title %}Jugadores{% endblock %}


{% block content %}
<div id="header">
<h1> Lista de Jugadores almacenados </h1>

{% if jugadores_list %}
<div id="menu">
<ul>
{% for jugador in jugadores_list %}
<li><a href="/gestion/jugadores/
{{ jugador.id }}/">{{ jugador.nombre }}</a></li>
{% endfor %}
</ul>
{% else %}
<p>No jugadores are available.</p>
{% endif %}
<a href="/gestion/">Volver al índice</a>

<div id="footer">
<p> &copy Andrés Millán Alcaide </p>
{% endblock %}
