{% extends "base.html" %}

{% block content %}
	<h2>New Jugador</h2>	
	<form id='form' method='post' enctype='multipart/form-data' action=''>{% csrf_token %}
	    {{form.as_table}}
		<p><input type='submit' value='Submit'></p>
	</form>
{% endblock %}
