{% extends "base.html" %}
{% block title %}Resultados{% endblock %}


{% block content %}
<div id="header">
<h1> Resultados de los equipos</h1>
{% load static %}
<img src="{% static "gestion/santander.jpg" %}" alt="My image"/>

<div id="aside">
<aside>
{% load static %}
<img src="{% static "gestion/banner500.png" %}" alt="My image"/>
</aside>

<div id="article">
{% if resultados_list %}
<div id="nav ul li">
{% for resultado in resultados_list %}


<ul>
	<li>
	<p> {{ resultado.equipo_1 }} {{ resultado.goles_1 }} - {{ resultado.goles_2 }} {{ resultado.equipo_2 }} </p>
	</li>
	<li>
	<p> Arbitro:  {{ resultado.arbitro }} </p>
	</li>
	<li>
	<p> Jornada:  {{ resultado.jornada }} </p>
	</li>

<p> ###########</p>

</ul>
{% endfor %}
{% else %}
<p>No resultados are available.</p>
{% endif %}

<a href="/gestion/">Volver al índice</a>

<div id="footer">
<p> &copy Andrés Millán Alcaide </p>

{% endblock %}
