<!DOCTYPE html>
<html lang="es">
<style>

body {
	margin: 0px 10px 0px 10px;
	width: 1000px;
}

header {
	background: #ccc;
	padding: 20px;
	width: auto;
        text-align: center;
}

header h1 { 
  margin: 0;
}

nav {
	float: left;
	width: 1000px;
	background: #333;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	list-style-type: none;
	display: inline;
}

nav li a {
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

nav li a:hover { 
    background: #383; 
}

#content-container {
	float: left;
	width: 1000px;
	background: #fff url(/wp-content/uploads/layout-three-fixed-background.gif) repeat-y 100% 0;
}

#left-navigation {
	float: left;
	width: 100px;
	padding: 20px 0;
	margin: 0 20px;
	display: inline;
}

#left-navigation ul {
	margin: 0;
	padding: 0;
}

#left-navigation ul li  {
	margin: 0 0 1em;
	padding: 0;
	list-style-type: none;
}
 
#content {
	float: left;
	width: 500px;
	padding: 20px 0;
	margin: 0 0 0 30px;
}

#content h2 { margin: 0; }

aside {
	float: right;
	width: 260px;
	padding: 20px 0;
	margin: 0 20px 0 0;
	display: inline;
}

aside h3 { 
    margin: 0; 
}

aside p {
    font-size: 0.7em;
}

footer {
	clear: left;
	background: #ccc;
	text-align: left;
	padding: 20px;
	height: 1%;
}
</style>

<head>

<div id="header">
<title>{% block title %}Plantilla base{% endblock %}</title>

</head>
<body>
<div id="body">
{% block content %}{% endblock %}
</div>
</body>
</html
