{% extends 'base.html' %}

{% comment %} User input form {% endcomment %}

{% block content %}
	<h2>New user</h2>

	<form id='form' method='post' enctype='multipart/form-data' action=''>{% csrf_token %}
	    <table class='formTable'>{{form}}</table>
		<p><input type='submit' value='Submit'></p>
	</form>
{% endblock %}
