{% extends 'base.html' %}

{% comment %} User login form {% endcomment %}

{% block title %} <h1>Access error</h1> {% endblock %}

{% block content %}
	<h2>Username not found or wrong password</h2>
{% endblock %}
