{% extends 'base.html' %}

{% block content %}
	{% for user in userList %}
		{{user.first_name}} {{user.last_name}} ({{user.username}}) <a href="/users/delete/{{user.id}}"><img src='{{STATIC_URL}}icons/delete.png' alt=""/></a><br>
	{% empty %}
		<p>No users are available.</p>
	{% endfor %}
{% endblock %}

{% block aside %}
	<form action="/users/new"><input type="submit" value="Add user"></form>
{% endblock %}
